* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #021237;
    height: 100vh;
    font-size: 16px;
  }
  
  footer{
    display:flexbox;
      display: flex;
      justify-content: space-around;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #0888f0;
      padding: 15px;
    }
  .rodapeIndex{
    position: fixed;
    padding: 5px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 50px 15px;
    background-position: 2% 85%;
  }
  
  button {
    color: black;
    font-size: black;
    font-weight: black;
    border: 0;
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  h1 {
    color: #08b2fc;
    font-size: 50px;
    margin: 0;
    margin-bottom: 38px;
  }
  
  .titulo p,
  .titulo a {
    color: #08c0d4;
  }
  
  .conversor-container {
    background: #f8fafa;
    border: 1px solid #e0dfda;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(6, 132, 177, 0.05);
    padding: 40px;
    margin-left: 30px;
  }
  
  .medidas {
    color: #363838;
    position: relative;
  }
  
  .medidas button {
    transition: all 0.2s ease;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #f2f2ff;
    color: #08b2fc;
  }
  
  ul {
    background: #f8fafa;
    border: 1px solid #e0dfda;
    position: absolute;
    bottom: 100%;
    color: #6f0909;
    display: none;
    width: 100%;
  }
  
  .unidade ul {
    overflow-y: scroll;
    max-height: 180px;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    list-style: none;
    transition: all 0.2s ease;
  }
  
  li:hover {
    background: #f0f0eb;
  }
  
  .unidades-container {
    display: flex;
  }
  
  .unidade {
    position: relative;
    flex: 1;
  }
  
  .unidade button {
    border: 1px solid #dae0e0;
    border-radius: 5px;
    color: #313131;
    padding: 15px;
    width: 150px;
    text-align: center;
    display: block;
    transition: all 0.2s ease;
  }
  
  .unidade button:hover {
    border: 1px solid rgba(154, 112, 196, 0.5);
    color: #00abc2;
    background: rgba(154, 112, 196, 0.05);
  }
  
  li.ativo {
    background: #f0f0eb;
  }
  
  input {
    background: rgba(154, 112, 196, 0.05);
    border: 1px solid #dae0e0;
    border-radius: 5px;
    outline: 0;
    padding: 15px;
    width: 100%;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    margin: 20px 0;
  }
  
  input:hover,
  input:focus {
    border: 1px solid #00abc2;
  }
  
  input::placeholder {
    color: #0cc3f6;
  }
  
  .trocar {
    background: linear-gradient(180deg, #09b1f9 0%, #543784 100%);
    color: #f0f0eb;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 20px 0;
    transition: all 0.2s ease;
  }
  
  .trocar img {
    margin-left: 10px;
  }
  
  .trocar:hover {
    outline: 3px solid rgba(9, 193, 239, 0.5);
  }
  
  .resultado {
    color: #7e7e7e;
    font-size: 1.2rem;
  }
  
  .para {
    padding: 0 10px;
  }
  
  .para img {
    transform: rotate(-90deg);
    width: 20px;
    margin-top: 15px;
  }
  
  @media all and (max-width: 1050px) {
    h1 {
      font-size: 48px;
    }
  }
  
  @media all and (max-width: 800px) {
    .container {
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100%;
    }
  
    .conversor-container {
      margin-top: 50px;
      margin-left: 0;
      width: 450px;
      padding: 30px;
    }
  
    ul {
      text-align: left;
    }
  
    .unidades-container {
      flex-direction: column;
    }
  
    .unidade button {
      width: 100%;
    }
  
    .para {
      padding: 5px;
    }
  
    .para img {
      transform: rotate(0deg);
      margin-top: 4px;
    }
  }
  
  @media all and (max-width: 500px) {
  
    .medidas button,
    .conversor-container {
      width: 100%;
    }
  }
  
  @media all and (min-width: 1700px) {
    body {
      font-size: 22px;
    }
  
    .unidade button {
      width: 200px;
    }
  
    .container {
      max-width: 1000px;
    }
  }